@using WordCounter.Models;

<h1>Word Counter</h1>


@if (Model.Count == 0)
{
  <p>You have no items in your to do list!</p>
}
@if (Model.Count !=0)
{
  @foreach (Word word in Model)
  {
  <h2>You chose @word.GetWord()</h2>
  <h2>is @word.GetSentence()</h2>
  <h1> @word.GetWord() is used @word.CountWord() times.</h1>
  }
}

<a href="/words/new">Play a new word counting game.</a>

<form action="/words/delete" method="post">
  <button type="submit" name="button">Clear All Items</button>
</form>
