<h1>Welcome to the Word Counter!</h1>
<h2>It's my pleasure to count your words so you don't have to.</h2>
<h3>Click on the link below to see my word counting skills be put to the test.</h3>
<p><a href="/counter/new">Go to form</a></p>
